openapi: 3.0.3
info:
  title: LctFrontend
  version: 0.1.0
  description: A specification of use of our notification system
  contact:
    email: vgrechannik@gmail.com
    name: Vladislav Grechannik

paths:
  /api/sendNotificationToUser:
    summary: >-
      Sends a notification to all subscribed clients of a user with certain
      username.
    post:
      summary: Sends a notification with the provided data
      description: ''
      operationId: send_notification_to_user
      requestBody:
        $ref: '#/components/requestBodies/Notification'
      responses:
        200:
          $ref: '#/components/responses/Ok'
        415:
          $ref: '#/components/responses/Error'
        422:
          $ref: '#/components/responses/Error'

components:
  schemas:
    Notification:
      required:
        - summary
        - content
        - message_id
      type: object
      properties:
        summary:
          description: A concise description of the purpose of the notification
          type: string
        content:
          description: The main message of the notification
          type: string
        message_id:
          description: A unique message id. Indicates a type of the notification
          type: string
        username:
          description: A username of the client to send the message to
          type: string
        ttl:
          description: A time for which the notification is still valid in seconds
          type: number
          format: int64
          minimum: 0
    Ok:
      type: string
    Error:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: Message about what error happened

  requestBodies:
    Notification:
      description: A message to send to clients
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Notification'
          examples:
            lct_end:
              summary: Конец ЛЦТ
              value:
                summary: Конец ЛЦТ
                description: Он скоро
                message_id: lct_end
                username: vladexa

  responses:
    Ok:
      description: Okay message with barely any useful info
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/Ok'
          examples:
            sentAll:
              summary: Отослал все уведомления
              value: Выслал 7 из 7
    Error:
      description: A generic error with a message
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            wrongMimeType:
              summary: Неправильный тип данных
              value:
                message: Wrong MIME type!

servers:
  - url: https://lapsha.vladexa.ru/
    variables: {}
